.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner {
  height: 100px;
}

.nathan-side {
  position: absolute;
  width: 300px;
  height: auto;
  left: -300px;
  top: 50px;
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

