body, html {
  background-color: #080033;
}

.container {
  width: min(100vw, 1200px);
  min-height: 200vh;
  margin: 0 auto 0;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 300px rgba(0,0,0,1);
}

.container > * {
  z-index: 10;
}
